<!-- Header and nav-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">GOTBook</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/messages" routerLinkActive="active">My crow's messages</a></li>
                <li><a routerLink="/things" routerLinkActive="active">My things</a></li>
                <li><a routerLink="/partners" routerLinkActive="active">My partners</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="back-image">
</div>
<!-- Jumbotron -->
<div class="avatar">
    <h1>Daenerys Targaryen</h1>
    <img src="../assets/characts/danny.png" alt="Avatar Image" />
</div>