.list-messages-container {
    margin-top: 30px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 5px;
    background-color: white;
}

.list-messages-container h1 {
    padding-top: 15px;
    padding-left: 10px;
}