<div class="list-messages-container">
    <h1>My crown's messages</h1>
    <div *ngFor="let message of messages" class="messages-container">
        <header>
            <span class="name-charact">{{message?.character?.name}} {{message?.character?.surname}}</span>
            <span class="date-msg">{{message?.date | date: 'dd/MM/yyyy'}}</span>
        </header>
        <div class="cart">
            <div class="avatar-img">
                <img src="../../../assets/characts/danny.png" alt="Character picture" />
            </div>
            <div class="avatar-msg">
                <p>{{message.text}}</p>
            </div>
        </div>
        <footer>
            <img (click)="setDieState(message)" class="die" src="../../../assets/states/die.png" alt="You must die!" />
            <img (click)="setPsstState(message)" class="psst" src="../../../assets/states/psst.png" alt="Pssst!" />
            <img (click)="setCoolState(message)" class="cool" src="../../../assets/states/cool.png" alt="Cool!" />
        </footer>
    </div>
</div>