<div class="dates-container">
    <h1 class="title-dates">My personal dates</h1>
    <div class="dates-character">
        <h3>Name</h3>
        <input *ngIf="character" type="text" [(ngModel)]="character.name" (blur)="updateDates()">
        <h3>Surname</h3>
        <input *ngIf="character" type="text" [(ngModel)]="character.surname" (blur)="updateDates()">
        <h3>House</h3>
        <input *ngIf="character" type="text" [(ngModel)]="character.house" (blur)="updateDates()">
    </div>
</div>